
<section ng-controller="ProcessCtrl" class="process-controller">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 text-center">

                <button type="button" class="btn btn-default button-add-process" data-toggle="modal" data-target="#modalForm">{{pageSettings.addProcessButton}}</button>

                <div modal-form></div>
                
            </div>
            <div class="col-sm-10">
                <form novalidate>
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-sm-6 process-content" ng-repeat="process in listallprocesses.data">
                            <div class="container-fluid ">
                                <div class="row section-process-header">
                                    <div class="col-xs-6">
                                        <span class="section-process-header-label">{{pageSettings.labelProcessNumber}} </span> <span class="section-process-header-index">{{$index + 1}}</span>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button type="button" class="close" aria-label="Close" id="{{process._id}}" ng-model="process._id" check-confirm-click="removeProcess(process._id);" check-confirm-click-message="{{pageSettings.confirmDeleteProcess}}"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                </div> 
                            </div>  
                            <div class="container-fluid">
                                <div class="row section-process-content text-center">
                                    <div class="col-md-2 section-process-background-cpu">
                                        <label>{{pageSettings.labelCPU}}</label>
                                        <span class="section-process-content-cpu">{{process.das_percentage}}</span>
                                    </div>
                                    <div class="col-md-10 section-process-chart-background">
                                        <canvas id="line" class="chart chart-line" chart-data="process.das_cpu_data"
                                            chart-labels="labels" chart-series="series" chart-options="options"
                                            chart-dataset-override="datasetOverride" chart-click="onClick">
                                        </canvas>
                                    </div>
                                </div>
                                <div class="row section-process-content text-center">
                                    <div class="col-md-2 section-process-background-data border-radius-left">
                                        <label>{{pageSettings.labelStatus}}</label>
                                        <span class="section-process-content-status">{{process.das_status}}</span>
                                    </div>
                                    <div class="col-md-2 section-process-background-data">
                                        <label>{{pageSettings.labelInstances}}</label>
                                        <span class="section-process-content">{{process.das_instances}}</span>
                                    </div>
                                    <div class="col-md-2 section-process-background-data">
                                        <label>{{pageSettings.labelMemory}}</label>
                                        <span class="section-process-content">{{process.das_memory}}</span>
                                    </div>
                                    <div class="col-md-4 section-process-background-data">
                                        <label>{{pageSettings.labelUpTime}}</label>
                                        <span class="section-process-content-time"><timer interval="1000">{{hours}}:{{minutes}}:{{seconds}}</timer></span>
                                    </div>
                                    <div class="col-md-2 section-process-background-data border-radius-right border-bottom-radius">
                                        <label>{{pageSettings.labelRestarts}}</label>
                                        <span class="section-process-content">{{filtered.length}}</span>
                                        <div class="dropdown">
                                            <button class="dropbtn"><div class="caret"></div></button>
                                            <div class="dropdown-content">
                                                <ul ng-repeat="date in filtered = (process.das_restarts)">
                                                    <li>{{date}}</li>
                                                </ul>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

