<div class="container-fluid dashboard-head"> 
    <div class="row"> 
        <div class="col-xs-12 col-sm-6 dashboard-head-img">
            <img alt="Logo" src="/assets/img/{{pageSettings.logoImage}}" width="auto">    
        </div>
        <div class="col-xs-12 col-sm-6 dashboard-head-text">
            {{pageSettings.dashboardTitle}}
        </div>
    </div> 
</div> 
