<div close-modal="modalForm" id="modalForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-uppercase">{{pageSettings.labelAddProcessTitle}}</h1>
            </div>
            <div class="modal-body text-left">
                <div class="container-fluid">
                    <form method="post" name="formAddProcess" novalidate>
                        <div class="form-group">
                            <label for="das_percentage">{{pageSettings.placeHolderPercentage}}:</label>
                            <input id="das_percentage" type="number" min="1" name="{{ formCtrl.das_percentage }}" ng-model="process.das_percentage" required placeholder="{{pageSettings.placeHolderEnter}} {{pageSettings.placeHolderPercentage}}"  >
                        </div>
                        <div class="form-group">
                            <label for="das_status">{{pageSettings.placeHolderStatus}}:</label>                
                            <input id="das_status" type="text" name="{{ formCtrl.das_status }}" ng-model="process.das_status" required placeholder="{{pageSettings.placeHolderEnter}} {{pageSettings.placeHolderStatus}}"  >
                        </div>
                        <div class="form-group">
                            <label for="das_instances">{{pageSettings.placeHolderInstances}}:</label>
                            <input id="das_instances" type="number" min="1" name="{{ formCtrl.das_instances }}" ng-model="process.das_instances" required placeholder="{{pageSettings.placeHolderEnter}} {{pageSettings.placeHolderInstances}}"  >
                        </div>
                        <div class="form-group">
                            <label for="das_memory">{{pageSettings.placeHolderMemory}}:</label>
                            <input id="das_memory" type="number" min="1" name="{{ formCtrl.das_memory }}" ng-model="process.das_memory" required placeholder="{{pageSettings.placeHolderEnter}} {{pageSettings.placeHolderMemory}}"  >
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="alert text-center hide" ng-class="showClass">
                    <strong>{{message}}</strong> 
                </div>
                <button class="btn btn-default button-add-process" type="submit" ng-click="addNewProcess()">{{pageSettings.saveProcessButton}}</button>
            </div>
        </div>
    </div>
</div>
