//
// Custom Colours
// --------------------------------------------------

@body-background-color-light: #444b56;
@body-background-color-dark: #2c3039;
@main-background-color: #ffffff;
@dashboard-title: #bdccd4;
@main-content-background-colour: #f2f2f2;
@label-section-process-header: #29abe2;
@content-section-process-content: #636f7e;
@content-section-process-content-status: #95c83c;
@content-section-process-content-time: #f6921e;
@chart-line-background-color-light: #57a4d4;
@chart-line-background-color-dark: #107dc1;
@process-data-background-color-light: #f2f2f2;
@process-data-background-color-dark: #e6e6e6;
@dropdown-list: #636f7e;
@dropdown-list-content: #bdccd4;
@input-fields: #bdccd4;
