//
// Custom Dashboard
// --------------------------------------------------

@font-face {
  font-family: 'Segoe UI';
  src:  url('../fonts/segoeui.ttf');
}

@font-face {
  font-family: 'DJB Get Digital';
  src:  url('../fonts/DJBGetDigital.ttf');
}


html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.admin-app {
    background: @body-background-color-dark;
    background: -moz-linear-gradient(top, @body-background-color-light 0%, @body-background-color-dark 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, @body-background-color-light, color-stop(100%, @body-background-color-dark)));
    background: -webkit-linear-gradient(top, @body-background-color-light 0%, @body-background-color-dark 100%);
    background: -o-linear-gradient(top, @body-background-color-light 0%, @body-background-color-dark 100%);
    background: -ms-linear-gradient(top, @body-background-color-light 0%, @body-background-color-dark 100%);
    background: linear-gradient(to bottom, @body-background-color-light 0%, @body-background-color-dark 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@body-background-color-light', endColorstr='@body-background-color-dark', GradientType=0 );
}

.main-page {
    background-color: @main-background-color;
    margin: 63px;
    padding-bottom: 60px;
    border-radius: 6px;
}

.process-controller {
    bottom: 60px;
    background-color: @main-content-background-colour;
    padding-top: 20px;  

    .button-add-process {
        margin-bottom: 15px; 
    }

    .section-process-header {
        height: 27px;
        line-height: 27px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: @body-background-color-dark;
        background: -moz-linear-gradient(top, @body-background-color-light 0%, @body-background-color-dark 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, @body-background-color-light, color-stop(100%, @body-background-color-dark)));
        background: -webkit-linear-gradient(top, @body-background-color-light 0%, @body-background-color-dark 100%);
        background: -o-linear-gradient(top, @body-background-color-light 0%, @body-background-color-dark 100%);
        background: -ms-linear-gradient(top, @body-background-color-light 0%, @body-background-color-dark 100%);
        background: linear-gradient(to bottom, @body-background-color-light 0%, @body-background-color-dark 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@body-background-color-light', endColorstr='@body-background-color-dark', GradientType=0 );

        .section-process-header-label {
            color: @label-section-process-header;
        }

        .section-process-header-index {
            color: white;
        }

        .close {
            color: white;
        }
    }

    .process-content {
        margin-bottom: 30px;
    }

    .section-process-content {
        color: @content-section-process-content;

        label {
            width: 100%;
            font-size: 10px;
        }
        span {
            font-size: 32px;
        }
    }

    .section-process-content-status {
        color: @content-section-process-content-status;
    }

    .section-process-content-time {
        font-family: 'DJB Get Digital';
        color: @content-section-process-content-time;
    }

    .section-process-background-cpu {
        height: 75px;
        background: @body-background-color-dark;
        background: -moz-linear-gradient(left, @body-background-color-dark 0%, @body-background-color-light 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, @body-background-color-dark), color-stop(100%, @body-background-color-light));
        background: -webkit-linear-gradient(left, @body-background-color-dark 0%, @body-background-color-light 100%);
        background: -o-linear-gradient(left, @body-background-color-dark 0%, @body-background-color-light 100%);
        background: -ms-linear-gradient(left, @body-background-color-dark 0%, @body-background-color-light 100%);
        background: linear-gradient(to right, @body-background-color-dark 0%, @body-background-color-light 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@body-background-color-dark', endColorstr='@body-background-color-light', GradientType=1 );
    }

    .section-process-background-data {
        height: 85px;
        border-right: none;
        background: @process-data-background-color-dark;
        background: -moz-linear-gradient(top, @process-data-background-color-light 0%, @process-data-background-color-dark 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, @process-data-background-color-light, color-stop(100%, @process-data-background-color-dark)));
        background: -webkit-linear-gradient(top, @process-data-background-color-light 0%, @process-data-background-color-dark 100%);
        background: -o-linear-gradient(top, @process-data-background-color-light 0%, @process-data-background-color-dark 100%);
        background: -ms-linear-gradient(top, @process-data-background-color-light 0%, @process-data-background-color-dark 100%);
        background: linear-gradient(to bottom, @process-data-background-color-light 0%, @process-data-background-color-dark 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@process-data-background-color-light', endColorstr='@process-data-background-color-dark', GradientType=0 );        

        &:last-child {
            border-right: none;
        }
    }

    .section-process-chart-background {
        background: @chart-line-background-color-dark;
        background: -moz-linear-gradient(top, @chart-line-background-color-light 0%, @chart-line-background-color-dark 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, @chart-line-background-color-light, color-stop(100%, @chart-line-background-color-dark)));
        background: -webkit-linear-gradient(top, @chart-line-background-color-light 0%, @chart-line-background-color-dark 100%);
        background: -o-linear-gradient(top, @chart-line-background-color-light 0%, @chart-line-background-color-dark 100%);
        background: -ms-linear-gradient(top, @chart-line-background-color-light 0%, @chart-line-background-color-dark 100%);
        background: linear-gradient(to bottom, @chart-line-background-color-light 0%, @chart-line-background-color-dark 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@chart-line-background-color-light', endColorstr='@chart-line-background-color-dark', GradientType=0 );
    }

    //  canvas chart-line
    #line {
        max-height: 75px;
    }

    // canvas chart doughnut
    // #doughnut {
    //     width: auto;
    //     min-height: 60px;
    // }

    .border-radius-right {
        border-bottom-right-radius: 0; 
    }

    .border-radius-left {
        border-bottom-left-radius: 0; 
    } 

    .border-bottom-radius {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }   

    ul {
        margin-top: -8px;
        margin-right: -15px;
    }

    ul, li {
        list-style-type: none;
    }        

    ul > li {
        width: 210px;
        line-height: 30px;
        float: right;
        background: @body-background-color-dark;
        background: -webkit-linear-gradient(left, @body-background-color-dark 0%, @body-background-color-light 100%);
        background: -moz-linear-gradient(left, @body-background-color-dark 0%, @body-background-color-light 100%);
        background: -o-linear-gradient(left, @body-background-color-dark 0%, @body-background-color-light 100%);
        background: linear-gradient(to right, @body-background-color-dark 0%, @body-background-color-light 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@body-background-color-dark', endColorstr='@body-background-color-light', GradientType=1 );
        border: solid 1px @dropdown-list;
        color: @dropdown-list-content;
        z-index: 1;
    }

    .dropbtn {
        border: none;
        background: none;
    }

    .dropdown {
        margin-top: -10px;
    }

    .dropdown-content {
        display: none;
        z-index: 100;
        position: inherit
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

.dashboard-head {
    min-height: 67px;
    color: @dashboard-title;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;

    .dashboard-head-img {
        margin-top: 12px;
    }

    .dashboard-head-text {
        margin-top: 18px;
        text-align: center;
    }
}

input[type='text'], input[type='email'], input[type='number'], textarea{
    border: 1px solid @input-fields;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
}

@media (min-width: @screen-md-min) {
    .process-controller {
        .section-process-background-data {
            border-right: solid 1px white;
        }    

        .border-radius-right {
            border-bottom-right-radius: 4px; 
        }

        .border-radius-left {
            border-bottom-left-radius: 4px; 
        }  

        .border-bottom-radius {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 4px;
        }      
    }

    .dashboard-head {
        .dashboard-head-text {
            text-align: right;
        }        
    }
 }
